body {
    background-color: inherit;
}

h1 {
    color: darkgray;
}

p {
    color: darkgray;
}

h2 {
    color: black;
}

h3 {
    font-family: Comic sans MS;
    color: #41FFA7;
}

#output{
    font-family: arial;
    color: #e930e9;
}
.c1{
    font-family: arial;
    color: #ffffff;
}

.c2{
    font-family: arial;
    color: #ffffff;
}

.c3{
    font-family: arial;
    color: #ffffff;
}
#conner1{
  border-radius: 15px 15px 15px;
  background:cornsilk;
  padding: 10px;
  width: 100px;
  height: 30px;

}
#conner2{
  border-radius: 15px 15px 15px;
  background:cornsilk;
  padding: 10px;
  width: 100px;
  height: 30px;

}
#conner3{
  border-radius: 15px 15px 15px;
  background:cornsilk;
  padding: 10px;
  width: 100px;
  height: 30px;

}
#box1{
  border-radius: 15px 15px 15px;
  padding: 15px;
  border:1px solid;
}
#box2{
  border-radius: 15px 15px 15px;
  padding: 15px;
  border:1px solid;
}
#place{
  font-family:Comic sans MS;
}
